body {
    background-color: #d3d3d3;
}

#pcHeader {
  background-color : #dfdfdf;/*나중에 #d3d3d3으로 바꿀것 */
  width:100%;
  height: 50px;
    min-width : 800px;
}

#MobileHeader {
    display: none;
    background-color: white;
    width: auto;
    border-bottom:  2px solid darkgray;
}

img.MhamMenu {
    width : 30px;
    height: 30px;
    float: left;
}
img.Mlogo {
    width:150px;
    height: 30px;
    margin-left: 30%;
}
img.Msearchbutton {
    width 20px;
    height : 30px;
    float: right;
    margin: 0px;
}

#wrap_header {
    width : 100%;
    height: 100%;
}
.logo {
    float:left;
}
.searchbar {
    background-color: white;
    font-size: 15px;
    width: 400px;
    height: 30px;
    float:left;
    margin-left: 20px;
}

.searchbutton {
    background-color: #1aa1e1;
    width: 20px;
    height: 18px;
    float:left;
    margin-left: 0%;
}

.login {
    color:white;
    background-color: #1aa1e1;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    float: right;
}
#pcNav {
  background-color : white;
  width:100%;
  height: 40px;
  clear:both;
}
#Mnav{
    display: none;
}
div.Mnav_wrap {
    
    position: relative;
    width:100%;
    height: 100px;
}

span.MmyBook{
    font-size: 20px;
    color: black;
    background-color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    position: absolute;
    top: 15px;
    left: 50px;
    border-bottom: 2px solid darkgray;
}
span.MnewBook{
    font-size: 20px;
    color: black;
    background-color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 42px;

    position: absolute;
    top: 15px;
    left: 250px;
    border-bottom: 2px solid darkgray;
}

span.MfamousChart{
    font-size: 20px;
    color: black;
    background-color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 42px;

    position: absolute;
    top: 65px;
    left: 50px;
    border-bottom: 2px solid darkgray;
}


span.menu_left:hover{
    background-color: #fefefe;
}

span.menu_center:hover{
    background-color: #dfdfdf;
}

span.menu_left {
    font-size: 20px;
    color: white;
    background-color: #1aa1e1;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    float:left;
}

span.menu_center {
    font-size: 15px;
    color: grey;
    text-align: center;
    line-height: 42px;
    float: left;
    margin-left: 25px;
}

#wrap {
  width: 100%;
  height: 100%;
  
  margin-top:10px;
  margin-bottom:10px;
}

.mybook : hover{ 
    background-color: yellow;
}
.shopping : hover{
    background-color: yellow;
}

.mybook {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5%;
}
.shopping {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 25px;
}

aside {
  background-color: #e0e0e0;
  float: left;
  height:200px;
  width: 120px;
    
}

section {
  /*border:1px solid black;*/
  float: left;
  height: 1000px;
  width: 70%;
  margin-left: 2%;

}
.lookmore {
    color: white;
    background-color: blue;
    width: 60px;
    height:30px;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 5%;
    
}

div.subtitle1 {
    
    margin-top:3%;
    margin-left: 5%;
}

.wrap1 {
    width:100%;;
    height:200px;
    margin-top: 3%;
    margin-left: 5%;
    min-width: 800px;
}


.wrap1 > section > a > img {
    width : 100%;
    height: 70%;
}

.wrap1 > section {
    background-color: white;
    width:100px;
    height: 150px;
    float:left;
    margin-left: 4%;
}
.wrap1 > section > .bookDetails{
    background-color: white;
}

footer {
  margin-top: 5%;
  width:100%;
  height: 80px;
  clear:both;
    float:left;
    min-width: 800px;
}

#Mlookmore {
    display: none;
    font-size: 20px;
    color: black;
    background-color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 42px;

    top: 65px;
    left: 50px;
    border-bottom: 2px solid darkgray;
    
    margin-left: 40%;
    margin-bottom: 15%;
}

#Mfooter {
    display: none;
    width: 100%;
    margin-top: 10%;
    height: 80px;
    clear:both;
    float:left;   
    
}

@media screen and (max-width:480px){
    #pcHeader, .wrap1, footer {
        min-width: 0px;
    }
    #pcHeader {
        display: none;
    }
    #MobileHeader{
        display: block;
    }
    span.menu_left {
        color:red;
    }
    aside {
        display : none;
    }
    #pcNav{
        display:none;
    }
    #Mnav{
        display: block;
    }
    .wrap1 > section {
        
    }
    #Mfooter{
        display: block;
    }
    .wrap1
    {   width: 400px;
        height: 200px;
        overflow: hidden;
    }
    .wrap1 > section {
        font-size: 23px;
        width:150px;
        height: 200px;
        margin-left: 8%;
    }
    footer{
        display: none;
    }
    div > h4 {
        width: 300px;
    }
    .lookmore {
        float: none;
        margin-right: 2%;
        margin-bottom: 5%;
        margin-left: 3%;
    }
    #Mlookmore {
        display: block;
           
    }
}